
<div class="container-fluid">
 
  


    <div class="header">
      
      <div class="cabecera">
        <nav class="navbar">
            <h1>Educacion</h1>
          <button type="button"   (click)="clickNuevaEducacion()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#eduModal">
          
          Nueva Educacion </button>
      
                     
  
          
        </nav>
  
  
      
      <table class="table">
  
        <thead>
        <tr>
        <th scope="col">Año Inicio</th>
        <th scope="col">Año Finalizacion</th>
  
        
        <th scope="col">Institucion </th>
        
        <th scope="col">Titulo</th>
        
        
       
        
        
        </tr>
        </thead>
  
  
  
        
        <tbody >
  
    <tr *ngFor="let row of datosEducacion">

        <td>{{row.inicio}}</td>
        <td>{{row.fin}}</td>
        <td>{{row.institucion}}</td>
        <td>{{row.titulo}}</td>
       
    
    <td>
      <button type="button" (click)="editarEducacion(row)" class="boton" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fa-solid fa-pen"></i></button>
    </td>
   
    <td>
  
      <button (click)="eliminarEducacion(row.id)" class="boton"><i class="fa fa-times" aria-hidden="true"></i></button>
      
    </td>
    
  
  
  
  
  
    </tr>
      
        </tbody>
        
        
        
     
        
        
        
        
        </table>
  
      </div>
  
  
        
    </div>
  
  
     
  </div>
  
  

  
  
  <!-- Modal Educacion -->
  <div class="modal fade" id="eduModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Educacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue" class="row g-3 needs-validation" novalidate>
            <div class="mb-3">
            
                <label for="inicio" class="form-label">Año de Inicio</label>
                <input type="text" formControlName='inicio' class="form-control" id="inicio" required>
                <div id="inicio" class="form-text">Debe Agregar año de inicio en la Institucion.</div>
              </div>
              <div class="mb-3">
            
                <label for="Año2" class="form-label">Año de Finalizacion</label>
                <input type="text" formControlName="fin" class="form-control" id="fin" aria-describedby="fin">
                <div id="fin" class="form-text">Debe Agregar año de finalizacion en la Institucion</div>
              </div>
              <div class="mb-3">
            
            
            
              <label for="Institucion" class="form-label">Institucion</label>
              <input type="text" formControlName="institucion" class="form-control" id="Institucion" aria-describedby="Empresa">
              <div id="Empresa" class="form-text">Debe Agregar Institucion en la que estudio.</div>
            </div>
            <div class="mb-3">
              <label for="Titulo" class="form-label">Titulo </label>
              <input type="text"formControlName="titulo" class="form-control" id="titulo" aria-describedby="titulo">
              <div id="Titulo" class="form-text">Debe Agregar el titulo que obtuvo</div>
            </div>
            
          </form> 
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" data-bs-dismiss="modal"
          (click)="agregaEducacion()" *ngIf="mostrarAgregar"
          class="btn btn-primary">agregar Educacion </button>
          <button type="submit" 
          (click)="actualizarEducacion()" *ngIf="mostrarActualizar"
          class="btn btn-primary"data-bs-dismiss="modal"   >Actualizar</button>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>