
  <div class="container-fluid" >
  <!--foto -->
  
  
  
   <div class="NOMBRE"*ngIf="datosUsuario"  >
    
    {{datosUsuario.nombre}}
    {{datosUsuario.apellido}}

  </div>
  
  <div class="TITULO"*ngIf="datosUsuario" >
   <h1>{{datosUsuario.titulo}}</h1>
   <button type="submit"class="btn btn-success" (click)="editarUsuario(datosUsuario)" *ngIf="userLogged|async as user" data-bs-toggle="modal" data-bs-target="#editarModal">EDITAR USUARIO</button>
  </div>
     
    <div class="DESCRIPCION"*ngIf="datosUsuario" >
    <h2>{{datosUsuario.descripcion}}</h2>
    </div>


  </div>
  
  
 
 
  
  <!-- Modal Nombre -->
  <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formUsuario" class="row g-3 needs-validation" novalidate>
            <div class="mb-3">
            
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" id="nombr" aria-describedby="nombre" >
                <div id="nmbre" class="form-text">Debe Agregar su nombre</div>
              </div>
              <div class="mb-3">
            
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" formControlName="apellido" class="form-control" id="apellido" aria-describedby="apellido">
                <div id="apellido" class="form-text">Debe Agregar su Apellido.</div>
              </div>
              <div class="mb-3">
            
            
            
              <label for="titulo" class="form-label">titulo</label>
              <input type="text" formControlName="titulo" class="form-control" id="ttulo" aria-describedby="tiulo">
              <div id="titul" class="form-text">Debe Agregar su titulo.</div>
            </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripcion</label>
              <textarea formControlName="descripcion" class="form-control" id="descripcion" aria-describedby="descripcion"></textarea>
              <div id="descripcion" class="form-text">Debe su descripcion</div>
            </div>
            <div class="mb-3">
          
              <label for="fotoPerfil" class="form-label">fotoPerfil</label>
              <input type="text" formControlName="fotoPerfil"class="form-control" id="fotoPerfil" aria-describedby="fotoPerfil">
              <div id="fotoPerfil" class="form-text">Debe Agregar su foto de perfil.</div>
            </div>

            <div class="mb-3">
          
              <label for="fotoBannerl" class="form-label">fotoBanner1</label>
              <input type="text" formControlName="fotoBanner1"class="form-control" id="fotoBanner1" aria-describedby="fotoBanner1">
              <div id="fotoBanner1" class="form-text">Debe Agregar su foto para el primer Banner.</div>
            </div>

            <div class="mb-3">
          
              <label for="fotoBanner2" class="form-label">fotoBanner2</label>
              <input type="text" formControlName="fotoBanner2"class="form-control" id="fotoBanner2" aria-describedby="fotoBanner2">
              <div id="fotoBanner2" class="form-text">Debe Agregar su foto para el segundo Banner.</div>
            </div>
            <div class="mb-3">
          
              <label for="fotoBanner3" class="form-label">fotoBanner3</label>
              <input type="text" formControlName="fotoBanner3"class="form-control" id="fotoBanner3" aria-describedby="fotoBanner3">
              <div id="fotoBanner3" class="form-text">Debe Agregar su foto para el tercer Banner.</div>
            </div>
           
          
  
          </form> 
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
          <button type="submit" 
          (click)="actualizarUsuario(datosUsuario)"
          class="btn btn-primary"data-bs-dismiss="modal"   >Actualizar</button>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>